name: Build

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          cache-read-only: ${{ github.event_name == 'pull_request' }}

      - name: Build & Publish to Maven Local
        shell: bash
        run: ./gradlew --stacktrace :publishToMavenLocal

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: gradle-plugin
          path: ~/.m2/repository/**
          if-no-files-found: error

      - name: Publish Snapshot
        if: ${{ github.event_name != 'pull_request'
          && env.MAVEN_SNAPSHOTS_USERNAME != ''
          && env.MAVEN_SNAPSHOTS_PASSWORD != '' }}
        env:
          MAVEN_SNAPSHOTS_USERNAME: ${{ secrets.MAVEN_SNAPSHOTS_USERNAME }}
          MAVEN_SNAPSHOTS_PASSWORD: ${{ secrets.MAVEN_SNAPSHOTS_PASSWORD }}
        run: |
          ./gradlew --stacktrace -PVERSION_NAME=$(git rev-parse --short "$GITHUB_SHA") \
              :publishAllPublicationsToAliucordSnapshotsRepository
